*{
	margin:0;
	padding:0;
}
body{
	background-color: #F5F5F5;
}
.box{
	display: flex;
	justify-content: center;
}
.head-box{
	
	display: flex;
	flex-direction: column;
	width: 100%;
	height:93px;
	justify-content:flex-start;
	align-items: center;
}
.top-box{
	height:31px;
	width:100%;
	display:flex;
	justify-content: center;
	background-color: #FFFFFF;
	box-shadow:-7px 4px 6px 0px #ADADAD;;
}
.bottom-box{
	height:48px;
	width:100%;
	display:flex;
	justify-content: center;
}
.grid-ctr {
	
	display: flex;
	width:97.5%;
	height: 31px;
	justify-content:space-between;
	align-items: flex-start;
}

.grid-ctr ul{
	
	font-size: 12px;
	color:#333333;
	height: 31px;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:0;
	margin: 0;
}
#first{
	margin-right:10px
}
.second,#third{
	margin:0 10px;
}
#forth{
	margin-left: 10px;
}
.second a,#third a,#forth a{
	color:#333333;
	text-decoration: none;
}
.second a:hover{
	text-decoration: underline;
	color:#0654ba;
}
#forth a:hover{
	text-decoration: underline;
	color:#0654ba;
}
#third a:hover{
	text-decoration: underline;
	color:#0654ba;
}
#right span{
	color: #909090;
	
}
.left{
	width:30%;
	
}
.left-two{
	margin:18px;
}
.left-three{
	margin-left: 20px;
}
.left-four{
	margin-left: 25px;
}
.left-five{
	margin-left:35px;
	margin-right: 20px;
}
#gh{
	display:flex;
	justify-content: space-between;
	height:48px;
	margin-top:6px;
	width:100%;
}
#gh img{
	margin-left: 15px;
}
.firstButton{
	heght:43px;
	width:90px;
	color:#555;
	font-size:16px;
	background-color:transparent;
	border:none;
}
.searchArea{
	display:flex;
	width:1012px;
	height:48px;
	align-items: center;
	margin-right: 20px;
}
#search{
	border:1px solid #ddd;
	
	width:712.67px;
	height:38px;
	border-radius: 3px 0 0 3px;
}
#search :focus{
	transition: border-color .1s linear;
}

.btn{
	width:181.33px;
	height:38px;
	border-radius: 3px;
}
#searchButton{
	width:70.4px;
	height: 40px;
	margin-left: 5px;
	background-color: #0079bc;
	font-size:16px;
	color:#fff;
	border-radius: 3px;
}

.searchEnd{
	height:40px;
	width:42px;
	

}
.searchEnd a{
	text-decoration: none;
	display: block;
	line-height: 40px;
	color:#666;
	font-size:11px;
	padding :0 10px;
}
/* .content{
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}	
.top-section{
	width:97.5%;
	height:53.33px;
}
.main-title{
	float: left;
}
.main-title h1{
	margin:0;
	font-size:28px;
	color:#333;
	font-weight:lighter;
}
.top-section-side{
	float:right;
	margin-right: 10px;
	font-size:14px;
}
.clear{
	clear: both;
}
.middle-section{
	width:100%;
	display:flex;
	justify-content: center;
}
.middle-section-content{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width:97.5%;
	
}
.left-section{
	width:837px;
	
}
.cart-bucket{
	width:835.3px;
	height:279.62px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.cart-bucket-head{
	display: flex;
	justify-content: center;
	width:835.3px;
	height:58.67px;
}
.cbh-content{
	width:803.3px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.seller-ctr{
	font-size: 20px;
	margin:0;
	weight:100;
}
.cbh-right{
	
}
.cbh-right button{
	color: #0654ba;
	background-color: transparent;
	border: none;
	
}
#division{
	color: #DDDDDD;
	margin-left: 5px;
	margin-right: 8px;
}
.cart-bucket-lineitem{
	
	display: flex;
	justify-content: center;
	width:100%;
	height:220.95px;
}
.lineitem-ctr{
	width: 803.3px;
	height: 204.94px;
}
.line-summary{
	border-top: 1px solid #ccc;
	width:100%;
	height: 187.95px;
}
.linesummary-content{
	width: 100%;
	height: 153.95px;
}
.right-section{
	width:;
	margin-left:10px;
}

 */